asgiref==3.2.3
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.8
daphne==2.5.0
decorator==4.4.1
defusedxml==0.6.0
Django==3.0.3
django-ajax-selects==1.8.0
django-allauth==0.41.0
django-appconf==1.0.4
django-crispy-forms==1.8.0
django-jsonfield==1.4.0
django-model-utils==4.0.0
django-notification==1.3.3
django-notifications-hq==1.6.0
django-user-accounts==3.0.0
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
Flask==1.1.1
Flask-MySQLdb==0.2.0
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
jsonfield==3.1.0
MarkupSafe==1.1.1
moviepy==1.0.1
mysql-connector-python==8.0.19
mysqlclient==1.4.5
numpy==1.18.1
oauthlib==3.1.0
passlib==1.7.2
Pillow==8.2.0
proglog==0.1.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyMySQL==0.9.3
pyOpenSSL==19.1.0
python-resize-image==1.1.19
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
swapper==1.1.2.post1
tqdm==4.41.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.7
Werkzeug==1.0.0
whitenoise==5.0.1
WTForms==2.2.1
zope.interface==5.1.0
whitenoise==5.0.1
pyOpenSSL==19.1.0